<mat-card>
    <img mat-card-image [src]="data.url" alt="{{ data.sceneName }}">
    <mat-card-title class="title">{{ data.sceneName }}</mat-card-title>
    <mat-card-content class="content">
      <p>Address: {{ data.address }}</p>
      <p>Description: {{ data.description }}</p>
    </mat-card-content>
    <mat-card-actions>
      <div class="button-row">
        <div>
          <button mat-button (click)="openReviewDialog()">Review</button>
        </div>
        <div>
          <button mat-button (click)="saveToFav()">Save to Favorite</button>
          <button mat-button (click)="addToTrip()">Add to Trip</button>
        </div>
      </div>
    </mat-card-actions>
</mat-card>
