.button-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.content{
    margin-left: 10px;
}
.title{
    margin-top: 10px;
    margin-left: 25px;
    font-weight: 500;
}