<mat-card>
    <img mat-card-image [src]="data.url" alt="{{ data.title }}">
    <mat-card-title>{{ data.title }}</mat-card-title>
    <mat-card-content>
      <p>Address: {{ data.address }}</p>
      <p>Description: {{ data.description }}</p>
    </mat-card-content>
    <mat-card-actions>
      <div class="button-row">
        <div>
          <button mat-button (click)="save()">Add Review</button>
        </div>
        <div>
          <button mat-button (click)="save()">Save</button>
          <button mat-button (click)="close()">Close</button>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>
  