<mat-form-field>
    <mat-label>User Name</mat-label>
    <input matInput  [(ngModel)]="userName" name="userName">
</mat-form-field>
<mat-form-field>
    <mat-label>Phone</mat-label>
    <input matInput [(ngModel)]="phone" name="phone" type="text" (input)="validatePhoneInput($event)">
</mat-form-field>
<mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="email" name="email" type="email">
</mat-form-field>
<mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput [(ngModel)]="password" name="password" type="password">
</mat-form-field>

<p>{{message}}</p>

<button mat-raised-button (click)="createAccount()">Create</button>