<div *ngIf="!isLogin; else content" class="loading-container">
    <div><span class="login-text" [routerLink]="['/login']">Log in</span> to see user information!</div>
</div>
<ng-template #content>
    <div class="trip-list-container">
        <!-- Sidebar -->
        <div class="sidebar">
            <div class="sidebar-header">
                <div id="your-list-title">Your Trip(s)</div>
                <button class="create-list-button" (click)="openCreateListDialog()">+ Create New Trip</button>
            </div>
            <div class="list-items">
                <div *ngFor="let trip of tripList" class="list-item" (click)="selectTrip(trip)"
                    [class.selected]="trip.tripId === selectedTrip?.tripId">
                    <div class="list-icon">
                        <mat-icon>list</mat-icon>
                    </div>
                    <div class="list-details">
                        <div class="list-name">{{ trip.tripName }}</div>
                        <div class="list-info">{{ trip.scenes.length }} scenes</div>
                    </div>
                    <div class="list-menu">
                        <mat-icon (click)="openTripMenu($event, trip)">more_vert</mat-icon>
                        <div *ngIf="trip.showMenu" class="menu-dropdown">
                            <button (click)="confirmDeleteTrip(trip)">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-content" *ngIf="selectedTrip">
            <div class="title">
                {{selectedTrip.tripName}}
            </div>
            <div *ngIf="selectedTrip.scenes.length>0">
                <div cdkDropList class="scene-list" (cdkDropListDropped)="drop($event)">
                    <ng-container *ngFor="let scene of selectedTrip.scenes; let i = index; trackBy: trackByScene">
                        <!-- Scene Item -->
                        <div class="scene-item" cdkDrag>
                            <div class="scene-item-row">
                                <img mat-card-image class="scene-image" [src]="scene.url" alt="{{ scene.sceneName }}">
                                <div class="scene-name">{{scene.sceneName}}</div>
                                <mat-icon class="delete-icon" aria-hidden="false" fontIcon="delete"
                                    (click)="deleteScene(scene)"></mat-icon>
                            </div>
                        </div>
                        <!-- Route Item -->
                        <ng-container *ngIf="i < selectedTrip.scenes.length - 1">
                            <div class="route-item">
                                <div class="route-details">
                                    <div class="transportation-list">
                                        <select [(ngModel)]="selectedTrip.routes[i].transportation"
                                            (change)="onTransportationChange(i)" class="custom-dropdown">
                                            <option value="driving">
                                                🚗 Driving
                                            </option>
                                            <option value="walking">
                                                🚶 Walking
                                            </option>
                                            <option value="bicycling">
                                                🚴 Bicycling
                                            </option>
                                            <option value="transit">
                                                🚍 Public Transit
                                            </option>
                                        </select>
                                    </div>
                                    <ng-container *ngIf="!isAutoGenerate">
                                        <input type="number" [(ngModel)]="selectedTrip.routes[i].timeInSeconds"
                                            placeholder="Time (sec)" class="custom-input" />
                                        <input type="number" [(ngModel)]="selectedTrip.routes[i].distance"
                                            placeholder="Distance (m)" class="custom-input" />
                                    </ng-container>
                                    <ng-container *ngIf="isAutoGenerate">
                                        <span class="route-info">
                                            {{ selectedTrip.routes[i].timeInSeconds / 60 | number: '1.0-0' }} mins
                                        </span>
                                        <span class="route-info">
                                            {{ selectedTrip.routes[i].distance / 1000 | number: '1.1-1' }} km
                                        </span>
                                    </ng-container>
                                </div>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
            <div *ngIf="selectedTrip.scenes.length==0">
                NO scene in this trip.
            </div>
            <!-- Save Button -->
            <div class="save-button-container">
                <button class="save-button" (click)="saveTrip()">Save</button>
            </div>
        </div>
    </div>
</ng-template>