/* Main container for the profile section */
.profile-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #d3d3d3;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  min-height: 500px;
}

/* Profile header styles */
.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

/* Avatar image styling */
.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.profile-header h2 {
  margin: 0;
  font-size: 1.5em;
}

.membership-status {
  color: #6c757d;
  font-size: 1.0em; 
  font-weight: bold; 
  margin-top: 5px; 
}

/* Profile details section */
.profile-details {
  margin-top: 10px;
  padding: 0 40px;
  text-align: left;
}

.detail-row {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

/* Styling for field labels */
.detail-label {
  font-weight: bold;
  flex: 1;
  margin-right: 10px; 
  color: #333; 
}

/* Styling for displayed values */
.detail-value {
  flex: 1.5;
  text-align: left;
  color: #6c757d;
}

/* Input styling for edit mode */
.detail-input {
  flex: 1.5;
  padding: 10px;
  font-size: 1em;
  width: 100%; 
  border: 1px solid #ccc; 
  border-radius: 4px;
  margin-left: 30px;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
}

/* Save/Edit button styling */
.cancel-button {
  margin-left: 10px;
}


/* Loading spinner container */
.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


/* Input field styling */
.input-field {
  width: 100%;
  margin-bottom: 15px;
}

/* Gray background for non-editable email input in edit mode */
.non-editable-email {
  background-color: #ababab; 
  color: #6c757d; 
  cursor: not-allowed; 
}

.mat-form-field {
  width: 100%;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #ccc; /* Light gray outline */
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline {
  color: #0066CC; /* Blue outline on focus */
}

.mat-form-field-label {
  color: #6c757d; /* Label color */
}

.login-text{
  color: #0066CC;
  font-weight: 800;
  cursor: pointer;
}