<!-- <div *ngIf="isObjectEmpty(userInfo); else content" class="loading-container">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div> -->

<div *ngIf="!isLogin; else content" class="loading-container">
  <div><span class="login-text" [routerLink]="['/login']" >Log in</span> to see user information!</div>
</div>

<ng-template #content>
  <div class="profile-container">
    <div class="profile-header">
      <img [src]="getAvatarUrl()" alt="Profile Picture" class="profile-picture" />
      <h2>{{ userInfo['userName'] }}</h2>
      <p class="membership-status">{{ userInfo['authorization']==="prime"? "Premium Member": "General User" }}</p>
    </div>

    <div class="profile-details">
      <!-- Username Field -->
      <div class="detail-row">
        <p class="detail-label" *ngIf="!isEditing">Name:</p>
        <mat-form-field appearance="outline" class="input-field" *ngIf="isEditing">
          <mat-label>Name</mat-label>
          <input matInput [(ngModel)]="userInfo['userName']" />
        </mat-form-field>
        <p *ngIf="!isEditing" class="detail-value">{{ userInfo['userName'] }}</p>
      </div>

      <!-- Email Field (Non-editable, gray background when editing) -->
      <div class="detail-row">
        <p class="detail-label" *ngIf="!isEditing">Email:</p>
        <mat-form-field appearance="outline" class="input-field" *ngIf="isEditing">
          <mat-label>Email</mat-label>
          <input matInput [value]="userInfo['email']" readonly class="non-editable-email" />
        </mat-form-field>
        <p *ngIf="!isEditing" class="detail-value">{{ userInfo['email'] }}</p>
      </div>

      <!-- Phone Field -->
      <div class="detail-row">
        <p class="detail-label" *ngIf="!isEditing">Phone:</p>
        <mat-form-field appearance="outline" class="input-field" *ngIf="isEditing">
          <mat-label>Phone</mat-label>
          <input matInput [(ngModel)]="userInfo['phone']" />
        </mat-form-field>
        <p *ngIf="!isEditing" class="detail-value">{{ userInfo['phone'] }}</p>
      </div>
    </div>

    <!-- Edit Button -->
    <button *ngIf="!isEditing" mat-flat-button (click)="toggleEdit()">
      Edit
    </button>
    <!-- Save Button -->
    <div *ngIf="isEditing">
      <button  mat-flat-button  (click)="saveUpdate()">
        Save
      </button>
      <button mat-stroked-button class="cancel-button" (click)="toggleEdit()">
        Cancel
      </button>
    </div>
    
  </div>
</ng-template>