<div class="favorite-list-container">
    <!-- Sidebar -->
    <div class="sidebar">
      <div class="sidebar-header">
        <div id="your-list-title">Your List(s)</div>
        <button class="create-list-button" (click)="openCreateListDialog()">+ Create New List</button>
      </div>
      <div class="list-items">
        <div
          *ngFor="let list of favoriteLists"
          class="list-item"
          (click)="selectList(list)"
          [class.selected]="list.favListId === selectedList?.favListId"
        >
          <div class="list-icon">
            <mat-icon>list</mat-icon>
          </div>
          <div class="list-details">
            <div class="list-name">{{ list.listName }}</div>
            <div class="list-info">{{ list.scenes.length }} saved scenes</div>
          </div>
          <div class="list-menu">
            <mat-icon (click)="openListMenu($event, list)">more_vert</mat-icon>
            <div *ngIf="list.showMenu" class="menu-dropdown">
              <button (click)="confirmDeleteList(list)">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Main Content -->
    <div class="main-content" *ngIf="selectedList">
      <h2>{{ selectedList.listName }}</h2>
      <div *ngIf="selectedList.scenes.length>0">
        <div class="scene-list">
            <ng-container *ngFor="let scene of selectedList.scenes; let i = index; trackBy: trackByScene">
                <!-- Scene Item -->
                <div class="scene-item">
                    <div class="scene-item-row">
                        <img mat-card-image (click)="viewLocation(scene)" class="scene-image" [src]="scene.url" alt="{{ scene.sceneName }}">
                        <div class="scene-names">
                          <div (click)="viewLocation(scene)" class="scene-name">{{scene.sceneName}}</div>
                          <div class="scene-media">{{scene.mediaName}}</div>
                        </div>
                        <mat-icon class="delete-icon" aria-hidden="false" fontIcon="delete"
                            (click)="deleteScene(scene)"></mat-icon>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
    </div>
</div>
  
  