.dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
  }
  
  .center-form-field {
    width: 100%;
    max-width: 400px;
  }
  
  .dialog-actions {
    display: flex;
    justify-content: center;
  }
  