<div class="review-dialog">
  <h2>Reviews </h2>
  <div style="margin-top: -16px; font-size: 22px; padding-bottom: 10px;">
    Average Rating: {{ getAverageRating() | number:'1.0-2' }}🌟
  </div>
  <ul class="review-list">
    <li *ngFor="let review of reviews" class="review-item">
      <div class="review-header">
        <strong>Anonymous</strong>: <span>{{ review.rating }}🌟</span>
      </div>
      <div class="review-comment">
        <span>{{ review.comment }}</span>
      </div>
    </li>
  </ul>

  <!-- Add comment and rating forms -->
  <div *ngIf="showAddReviewForm" class="add-review-form">
    <div style="width: 60px;" class="form-group">
      <label for="rating">Rating:</label>
      <select id="rating" [(ngModel)]="newReview.rating" name="rating" required>
        <option value="1">1🌟</option>
        <option value="2">2🌟</option>
        <option value="3">3🌟</option>
        <option value="4">4🌟</option>
        <option value="5">5🌟</option>
      </select>
    </div>
    <div class="form-group">
      <label for="comment">Comment:</label>
      <textarea id="comment"
                [(ngModel)]="newReview.comment"
                (input)="onCommentInput()"
                name="comment"
                required
                rows="3"
                style="width: 100%; resize: none;"></textarea>

      <div *ngIf="message" class="char-limit-warning">
        {{ message }}
      </div>
    </div>
  </div>

  <mat-card-actions>
    <div class="button-row">
      <div *ngIf="!showAddReviewForm">
        <button mat-button (click)="onAddReview()">Add Review</button>
      </div>
      <div *ngIf="showAddReviewForm">
        <button mat-button style="float: right;" (click)="submitReview()" [disabled]="!isValidReview()">Submit Review</button>
      </div>
      <div>
        <button mat-button (click)="onClose()">Close</button>
      </div>
    </div>
  </mat-card-actions>
</div>
