/* Background */
:host {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100%;
  margin: 0;     
  padding: 0;  
  font-family: Arial, sans-serif; /* Optional for font styling */
}


/* Container Styling */
.login-content {
  width: 100%; /* Allow it to adapt to content size */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('/assets/images/background.png');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px; 
  border: none; 
  width: 200px;
}


/* Logo */
.logo img {
  width: 150px;
  margin-bottom: 20px;
}

/* Adjust logo2.png styling if necessary */
.logo-text img {
  width: 200px; 
  margin-bottom: 20px; 
}

/* Title Styling */
h1 {
  font-family: 'Brush Script MT', cursive;
  color: #00264D;
  font-size: 2em;
  margin-bottom: 20px;
}

/* Input Fields */
.input-field {
  width: 100%;
  margin-bottom: 15px;
}

/* Checkbox */
.remember-me {
  align-self: center;
  margin-bottom: 15px;
}

/* Button Styling */
.login-button {
  width: 100%;
  background-color: #0066CC;
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
}

.create-account {
  color: #0066CC;
  font-size: 0.9em;
}